<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>





<script type="text/javascript" th:src="@{../js/listado.js}"></script>

<script type="text/javascript" 	th:src="@{../js/datatables.min.js}"></script>
<script type="text/javascript" 	th:src="@{../js/fnSetFilteringEnterPress.js}"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TimeStamp - Empleados</a>
        </div>
        
      </div>
    </nav>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
<div class="container">	
<div class="row">

<div class="col-md-6">
<div class="panel panel-default" th:fragment="addUserData">
  <div class="panel-heading">
    <h3 class="panel-title">Registrar Empleado</h3>
  </div>
  <div class="panel-body">
    <form action="#" th:action="@{/Agregar}" th:object="${userModel}" method="post" class="form-horizontal" id="addUserForm">
		  <div class="form-group">
		    <label for="inputId" class="col-sm-2 control-label">ID</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputId" placeholder="" th:field="*{id}" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputName" class="col-sm-2 control-label">Nombre</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputName" placeholder="" th:field="*{name}" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputSalary" class="col-sm-2 control-label">Salario</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="inputSalary" placeholder="" th:field="*{salary}" />
		    </div>
		  </div>		  

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary" id="btnAddUser">Agregar</button>
		    </div>
		  </div>
		</form>
  </div>
</div>

</div>



</div>
	
	

</div>
    
    
    

    <div class="container">
      <div class="starter-template">
          
          <div class="panel panel-default" th:fragment="listUserData" id="listUserData">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de Trabajadores</h3>
  </div>
  <div class="panel-body">
      
			<div class="table-responsive">
		        <table id="paginatedTable" class="table table-striped">
		            <thead>
		                <tr>
		                    <th>Id</th>
		                    <th>Nombre</th>
		                    <th>Salario</th>
		                </tr>
		            </thead>
		        </table>
		       </div>
      </div>
              </div>
      </div>
    </div><!-- /.container -->
    
</body>
</html>